.mainContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: darkgrey;
    border-radius: 15px;
    border: 1px solid black;
}

.numeroStyle {
    text-decoration: none;
    color: #040404; /* fucsia */
    cursor: pointer;
    padding: 0 7px;
    text-shadow: 0 0 3px rgb(253, 253, 255); /* borde azul */
    font-weight: bold;
  }
  